*{
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    

}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: 'Sen',sans-serif;


}

.logo-container{
    flex: 1;

}

.logo{
    font-size: 30px;
    color: rgb(97, 16, 16);

}

.menu-container{
    flex: 6;
    
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-items{
    margin-right: 30px;
}

.menu-list-items.active{
    font-weight: bold;
}



.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    
}


.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;

}

.profile-text-container{
    margin: 0 20px;
}

.toggle{
    width: 50px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: rgb(202, 147, 8);
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
}


.sidebar{
    width: 50px;
    height: 100%;
    background-color:black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;

}

.left-menu-icon{
    color: white;
    font-size: 20px;
    margin-bottom: 30px;

}

.container{
    background-color: #151515;
    min-height: 100vh;
    color: white;
}

.content-container{
    margin-left: 50px;
}

.featured-content{
    height: 50vh;
    padding: 50px;
}

.featured-title{
    width: 200px;
}

.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 30px 0;

}

.featured-button{
    background-color:black;
    color:rgb(120, 2, 2) ;
    padding: 10px 20px ;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}

.movie-list-container{
    padding: 20px;
}

#imgs{
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
}

#imgs2{
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
}

#imgs3{
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
}

#imgs4{
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
}


#imgs div{
    width: 50%;
    text-align:center;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

#imgs2 div{
    width: 50%;
    text-align:center;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

#imgs3 div{
    width: 50%;
    text-align:center;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

#imgs4 div{
    width: 50%;
    text-align:center;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}


#imgs div img{
    width: 100%;
    height:auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#imgs2 div img{
    width: 100%;
    height:auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#imgs3 div img{
    width: 100%;
    height:auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#imgs4 div img{
    width: 100%;
    height:auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#imgs div:hover img {
    transform: scale(1.12);
    box-shadow: 0 5px 15px 
    rgba(0, 0,0, 0);
    opacity: 0.5;
}

#imgs2 div:hover img {
    transform: scale(1.12);
    box-shadow: 0 5px 15px 
    rgba(0, 0,0, 0);
    opacity: 0.5;
}

#imgs3 div:hover img {
    transform: scale(1.12);
    box-shadow: 0 5px 15px 
    rgba(0, 0,0, 0);
    opacity: 0.5;
}

#imgs4 div:hover img {
    transform: scale(1.12);
    box-shadow: 0 5px 15px 
    rgba(0, 0,0, 0);
    opacity: 0.5;
}

#imgs div h6{
    margin-top: 5px;
    font-size: 10px;
    color: #333;
}

#imgs2 div h6{
    margin-top: 5px;
    font-size: 10px;
    color: #333;
}

#imgs3 div h6{
    margin-top: 5px;
    font-size: 10px;
    color: #333;
}

#imgs4 div h6{
    margin-top: 5px;
    font-size: 10px;
    color: #333;
}




.movie-list-item-images{
    display: grid;
    grid-template-columns: repeat(40,1fr);
    gap: 20px;
    padding: 20px;
}


.movie-list-item{
    margin-right: 30px;
    position: relative;;

}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list-button{
    padding: 10px;
    background-color: rgb(120, 2, 2);
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.arrow{
    font-size: 100px;
    position: absolute;
    top: 100px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}

.movie-list{
    transform: translateX(0);
    transition: all 1s ease-in-out;
}